.thumbnails-component ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}


.thumbnails-component img {
    height: 15em;
    box-shadow: 0 0 .5em black;
}