@charset "utf-8";

@media screen and (max-width:1023px) {
    #left-aside {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #left-aside {
        display: none;
    }
    article {
        background: rgba(0, 0, 0, 0.651);
        text-align: center;
    }
}


*{
    
    margin: 0;
    padding: 0;
}





body {
    background: center no-repeat url(img/imgbackground.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
    background-size: cover;
    /* version standardisée */

    font-family: 'Datalegreyadot';
    font-weight: normal;
    font-style: normal;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    min-height: 100vh;



    --def: #96B7C4;
    --inv: #fff;

}


header {
    text-align: center;


}


#nav-accueil {
    text-align: center;
    display: flex;
    flex-direction: column;

}


#nav-article {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-nav-article {

    font-size: 0, 1vw;
    align-self:stretch;
}





/*-----ARTICLE PAGE-----*/

main {

    color: rgb(214, 209, 209);
    display: flex;
    justify-content:row;
    align-items:flex-start;
    padding: 1%;



}

article {
    padding: 5%;
    flex-shrink: 1;
    align-self: stretch;

}



#left-aside {
    /*overflow-x: scroll;*/
    align-self: stretch;
    min-width: 20%;
    background: rgba(0, 0, 0, 0.288);


}






footer {
    font-size: 1em;
    color: white;
    background: rgba(0, 0, 0, 0.527);
}






        h1 {
            font-size: 6em;
        }

        h2 {
            font-size: 3em;
        }

        h3 {
            font-size: 3em;
            margin-bottom: 2%;
        }


        p {
            margin-bottom: 2%;
            font-size: 22px;
        }






/* --------- List left aside page article ------- */
ul {
    counter-reset: index;
    padding: 0;
    max-width: 300px;
}

/* List element */
li {
    counter-increment: index;
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    box-sizing: border-box;
}


/* Element counter */
li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, aquamarine, orangered);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Element separatin */
li+li {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 12px;
}



@use postcss-preset-env {
    stage: 0;

    autoprefixer: {
        grid: true;
    }

    browsers: last 2 versions
}














/*---Blur effect for hearder article--- 
#overly {
        content: "ggggggggg ";
        position: absolute;
        height: 255px;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        z-index: 5;
    }*/







/* ~~~~~~~ INIT. BTN ACCUEIL ~~~~~~~ */

.btn {
    position: relative;
    padding: 1.4rem 4.2rem;
    padding-right: 3.1rem;
    font-size: 1.4rem;
    color: var(--inv);
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.btn:hover {
    color: black;
    transition-delay: .6s;
}

.btn:hover:before {
    transition-delay: 0s;
}

.btn:hover:after {
    background: var(--inv);
    transition-delay: .4s;
}

/* From Top */

.from-top:before,
.from-top:after {
    left: 0;
    height: 0;
    width: 100%;
}

.from-top:before {
    bottom: 0;
    border: 1px solid var(--inv);
    border-top: 0;
    border-bottom: 0;
}

.from-top:after {
    top: 0;
    height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
    height: 100%;
}

/* From Left */

.from-left:before,
.from-left:after {
    top: 0;
    width: 0;
    height: 100%;
}

.from-left:before {
    right: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.from-left:after {
    left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
    width: 100%;
}

/* From Right */

.from-right:before,
.from-right:after {
    top: 0;
    width: 0;
    height: 100%;
}

.from-right:before {
    left: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.from-right:after {
    right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
    width: 100%;
}

/* From Middle */

.from-middle:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.from-middle:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: var(--inv);
}

.from-middle:hover:before {
    left: 0;
    width: 100%;
}

.from-middle:hover:after {
    top: 0;
    height: 100%;
}

/* From Bottom */

.from-bottom:before,
.from-bottom:after {
    left: 0;
    height: 0;
    width: 100%;
}

.from-bottom:before {
    top: 0;
    border: 1px solid var(--inv);
    border-top: 0;
    border-bottom: 0;
}

.from-bottom:after {
    bottom: 0;
    height: 0;
}

.from-bottom:hover:before,
.from-bottom:hover:after {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}



















